<h1 class="text-center">ABOUT US</h1>
<div class="d-flex p-5 gap-5 text-wrap align-items-center">
  <p>
    Discover a haven of warmth and comfort at M Coffee. Our cozy café offers a delightful blend of freshly brewed coffee
    and delectable cuisine. Whether you're seeking a quiet escape or a vibrant atmosphere, our friendly staff is here to
    ensure you have a memorable experience.
    <br>
    <br>

    Our passion for coffee and food is evident in every cup and dish we serve. At M Coffee, we source the finest
    ingredients and prepare each meal with care and attention to detail. Join us for a truly satisfying culinary
    journey.
    <br>
    <br>
    M Coffee is more than just a place to eat and drink. We're a community hub where friends gather, neighbors connect,
    and ideas are shared. Come experience the warmth and camaraderie of our welcoming atmosphere.
  </p>

  <img src="/img/coffee_and_cheesecake.jpg" class="w-25 h-25">
</div>
