<div id="background-image-container">
  <!--carousel-->
  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">

    <!-- nav and section -->
    <nav id="top-nav" class="d-flex align-items-center justify-content-between">
      <div id="left-nav-menu" class="d-flex align-items-center">
        <ul class="d-flex gap-4 align-items-center mb-0">
          <li>HOME</li>
          <li><a href="#about-section">ABOUT US</a></li>
          <li>NEWS</li>
          <li><a href="#footer-contact">CONTACT US</a></li>
          <li>SHOP</li>
        </ul>
      </div>

      <div id="logo-div">
        <!--      <img ngSrc="../public/img/m-logo 1.png">-->
      </div>

      <div id="right-icon-menu" class="d-flex gap-4">
        <div id="clipboard-icon-div" title="Menu"></div>
        <div id="cart-icon-div" title="Shopping Cart" class="d-flex justify-content-end">
          <div id="shopped_item-count-div"
               class="rounded-circle bg-warning h-50 w-50 d-flex justify-content-center align-items-center hidden">
            0
          </div>
        </div>
        <div id="login-icon-div" title="Login"></div>
        <button class="btn btn-warning">Book A Table</button>
      </div>
    </nav>

    <section id="middle-title-section">
      <p id="make-coffee-p" class="w-100 text-center">
        Making coffee with our love
      </p>
      <h1 class="w-100 text-center">Signature Coffee</h1>
      <h1 class="w-100 text-center">Creations</h1>
    </section>

    <!-- nav and section end -->

    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100" src="/img/ancient-chinese-room 4.png" alt="First slide">
      </div>
      <div class="carousel-item ">
        <img class="d-block w-100" src="/img/Property 1=Frame 3.png" alt="Second slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100" src="/img/Property 1=Frame 4.png" alt="Third slide">
      </div>
    </div>

    <button class="carousel-control-prev h-25" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev">
      <div class="carousel-arrow-circle d-flex justify-content-center align-items-center">
        <span class="carousel-control-prev-icon arrow" aria-hidden="true"></span>

      </div>
    </button>
    <button class="carousel-control-next h-25" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next">
      <div class="carousel-arrow-circle d-flex justify-content-center align-items-center">
        <span class="carousel-control-next-icon arrow" aria-hidden="true"></span>
      </div>
    </button>
  </div>

</div>

<div id="home-bottom-div" class="d-flex justify-content-between container">
  <div id="coffee-image-container">
    <div id="coffee-1-div"></div>
    <div id="coffee-2-div"></div>

  </div>
  <section>
    <p id="bottom-section-title-p">OUR COFFEE SHOP</p>
    <h1>We Combine Classics<br>and Modernity</h1>
    <p id="bottom-section-message-p">We appreciate your trust greatly. Our clients choose us and our
      <br>products because they know we are the best.
    </p>
    <p>
      Mon-Fri: 9 AM – 10 PM<br>
      Saturday: 9 AM – 8 PM
    </p>
    <button><a href="#about-section">About Us</a></button>
  </section>
</div>

<section id="about-section">
  <app-about-us/>
</section>

<footer id="footer-contact">
  <app-contact-us/>

  <p class="text-center">Copyright &copy; 2024 M Coffee. All Rights Reserved.</p>
  <p class="text-center">Designed by Trilogy Innovative Tech</p>
</footer>


