<div id="background-image-container">
  <nav id="top-nav" class="d-flex align-items-center justify-content-between w-100 container">
    <div id="left-nav-menu" class="d-flex align-items-center">
      <ul class="d-flex gap-4 align-items-center mb-0">
        <li>HOME</li>
        <li>PAGES</li>
        <li>BLOG</li>
        <li>EVENTS</li>
        <li>SHOP</li>
        <li>CONTACT US</li>
      </ul>
    </div>

    <div id="logo-div">
      <!--      <img ngSrc="../public/img/m-logo 1.png">-->
    </div>

    <div id="right-icon-menu" class="d-flex gap-4">
      <div id="clipboard-icon-div"></div>
      <div id="search-icon-div"></div>
      <div id="menu-icon-div"></div>
    </div>
  </nav>

  <section id="middle-title-section">
    <p id="make-coffee-p" class="w-100 text-center">
      Making coffee with our love
    </p>
    <h1 class="w-100 text-center">Signature Coffee</h1>
    <h1 class="w-100 text-center">Creations</h1>
  </section>
</div>

<div id="home-bottom-div" class="d-flex justify-content-between container">
  <div id="coffee-image-container">
    <div id="coffee-1-div"></div>
    <div id="coffee-2-div"></div>

  </div>
  <section>
    <p id="bottom-section-title-p">OUR COFFEE SHOP</p>
    <h1>We Combine Classics<br>and Modernity</h1>
    <p id="bottom-section-message-p">We appreciate your trust greatly. Our clients choose us and our
      <br>products because they know we are the best.
    </p>
    <p>
      Mon-Fri: 9 AM – 10 PM<br>
      Saturday: 9 AM – 8 PM
    </p>
    <button>About Us</button>
  </section>
</div>

